---
layout: page
title: Judiciary
---

<h1 class="h1">{{ page.title }}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h2 class="h2 mt-4">Projects</h2>
<div class="row">
  {% for prj in site.projects %}
    {% if prj.sector == page.title %}
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <img src="https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" class="card-img-top img-fluid" alt="project title">
            <strong class="d-inline-block mb-2 text-primary">Data Dashboard</strong>
            <h3 class="mb-0">{{ prj.title }}</h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">{{ prj.content | markdownify }}</p>
            <button type="button" class="btn btn-outline-primary">
              <a href="{{ prj.url }}" class="text-secondary">know more...</a>
            </button>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h2 class="h2 mt-4">Case Studies</h2>
<div class="row mt-4">
{% for cs in site.case_studies %}
  <div class="card col-4">
    <div class="card-body">
      <h5 class="card-title">{{ cs.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">{{ cs.content | markdownify }}</p>
      <a href="{{ cs.url }}" class="card-link text-primary">Know More</a>
    </div>
  </div>
{% endfor %}
</div>
