<footer class="footer text-center" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>CivicDataLab </h3>
        <h5 class="footer-logo-byline">
          Data | Tech | Design | Social Science
        </h5>
      </div>
      <div class="col-md-6 social-media-icons">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a class=" text-white mr-3" href="https://github.com/CivicDataLab" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="text-white mr-3" href="https://twitter.com/CivicDataLab" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class=" text-white" href="https://www.linkedin.com/company/civicdatalab/" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 contact-info">
        <p class="contact-text">Contact Us : </p>
        <p class="contact-email">info@civicdatalab.in</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="license-text">All work under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 (CC-BY)</a></p>
      </div>
    </div>
    <!--<p class="text-muted small mb-0">Copyright © Your Website 2017</p>-->
  </div>
</footer>