<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="Data Strategy, Data Platforms, Data Science, GDPR, Data Ethics, Privacy & Security, Data Consulting, Data Stories, Data Visualizations, Open Data, Open Source, Data for Good, Data Pipelines, Data Mining, Data Audits, Data Analytics, Data for Nonprofits, Data for NGOs, Data for Government, Data for research" />
  <meta name="description" content="CivicDataLab works with the goal to use data, tech, design and social science to strengthen the course of civic engagements in India. We work to harness the potential of open-source movement to enable citizens to engage better with public reforms. We aim to grow data and tech literacy of governments, nonprofits, think-tanks, media houses, universities etc to enable data-driven decision making at scale." />
  <meta name="subject" content="Data | Tech | Design | Social Science" />
  <meta name="copyright" content="All work under Creative Commons Attribution 4.0 (CC-BY) - CivicDataLab" />
  <meta name="language" content="ES" />
  <meta name="robots" content="index,follow" />
  <meta name="revised" content="Monday, May 29th, 2018, 11:40 pm" />
  <meta name="abstract" content="CivicDataLab works with the goal to use data, tech, design and social science to strengthen the course of civic engagements in India." />
  <meta name="summary" content="CivicDataLab works with the goal to use data, tech, design and social science to strengthen the course of civic engagements in India." />
  <meta name="Classification" content="Business" />
  <meta name="author" content="CivicDataLab, info@civicdatalab.in" />
  <meta name="reply-to" content="info@civicdatalab.in" />
  <meta name="owner" content="CivicDataLab" />
  <meta name="url" content="http://www.civicdatalab.in" />
  <meta name="identifier-URL" content="http://www.civicdatalab.in" />
  <meta name="coverage" content="Worldwide" />
  <meta name="distribution" content="Global" />
  <meta name="rating" content="General" />
  <meta name="revisit-after" content="7 days" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@CivicDataLab" />
  <meta name="twitter:title" content="CivicDataLab" />
  <meta name="twitter:description" content="CivicDataLab works with the goal to use data, tech, design and social science to strengthen the course of civic engagements in India. We work to harness the potential of open-source movement to enable citizens to engage better with public reforms. We aim to grow data and tech literacy of governments, nonprofits, think-tanks, media houses, universities etc to enable data-driven decision making at scale." />
  <meta name="twitter:url" content="https://www.civicdatalab.in/" />
  <meta name="twitter:image:src" content="https://www.civicdatalab.in/img/banner_social_share.jpg" />
  <meta name="og:title" content="CivicDataLab - Data | Tech | Design | Social Science" />
  <meta name="og:type" content="website" />
  <meta name="og:url" content="http://www.civicdatalab.in/" />
  <meta name="og:image" content="https://www.civicdatalab.in/img/banner_social_share.jpg" />
  <meta name="og:site_name" content="CivicDataLab" />
  <meta name="og:description" content="CivicDataLab works with the goal to use data, tech, design and social science to strengthen the course of civic engagements in India. We work to harness the potential of open-source movement to enable citizens to engage better with public reforms. We aim to grow data and tech literacy of governments, nonprofits, think-tanks, media houses, universities etc to enable data-driven decision making at scale." />
  <meta name="og:email" content="info@civicdatalab.in" />

  <title>CivicDataLab - Data | Tech | Design | Social Science</title>
  
  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="icon" href="static/spinner10.png" type="image/gif" sizes="16x16" />

  <!-- Custom Fonts -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="assets/css/stylish-portfolio.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700|Raleway:100,200,300,400,600,700" rel="stylesheet" />

  <link href="styles.css" rel="stylesheet" />
</head>