<meta name="og:title" content="What we value at CivicDataLab" />
<meta name="og:type" content="website" />
<meta name="og:url" content="http://www.civicdatalab.in/" />
<meta name="og:image" content="https://www.civicdatalab.in/img/banner_social_share.jpg" />
<meta name="og:site_name" content="CivicDataLab" />
<meta name="og:description" content="CivicDataLab works with the goal to use data, tech, design and social science to strengthen the course of civic engagements in India. We work to harness the potential of open-source movement to enable citizens to engage better with public reforms. We aim to grow data and tech literacy of governments, nonprofits, think-tanks, media houses, universities etc to enable data-driven decision making at scale." />
<meta name="og:email" content="info@civicdatalab.in" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@civicdatalab">
<meta name="twitter:title" content="What we value at CivicDataLab">
<meta name="twitter:image" content="https://www.civicdatalab.in/img/banner_social_share.jpg">
