.section-team img {
  width: 180px;
  /*margin-bottom: 20px;*/
}

.service-icon {
  overflow: hidden;
  /*height: 10rem;
    width: 10rem;*/
}

.header-text h3.byline {
  font-weight: 300;
  font-size: 32px;
}

.container.text-center.my-auto.header-text {
  color: #ffffff;
  z-index: 10;
  font-family: $font-family-secondary, sans-serif;
}

a.contact-us-btn {
  margin-top: 40px;
}

span.highlight-word {
  color: #ffffff;
  background: #111;
  font-weight: 600;
  padding: 0px 6px;
  padding-bottom: 4px;
  margin-bottom: 2px;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-body .social-icons a.fa {
  color: #333333;
  padding: 0px 8px;
  font-size: 23px;
}

p.card-name {
  text-align: left;
  padding-left: 8px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

p.card-text {
  font-weight: 300;
  text-align: justify;
  padding: 0px 5px;
}

.contact-info {
  text-align: left;
}

p.contact-text {
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 15px;
}

p.contact-email {
  font-weight: 300;
  font-size: 20px;
}

#particles-js canvas {
  position: absolute;
  /* width: 100%; */
  margin-top: -40px;
  height: 100%;
  /*z-index: -100;*/
}

.masthead {
  z-index: 100;
  overflow-y: hidden;
}

section#services {
  background-color: #3a8ed8 !important;
}

a#services-button {
  margin-top: 40px;
}

p.license-text {
  font-weight: 100;
  margin-top: 10px;
}

a {
  color: #ffffff;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.72);
}
