---
layout: page
---

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">{{ page.title }}</h1>
    <p>{{ page.content | markdownify }}</p>
    <p><strong class="mr-4">Apply Via</strong>
      {% if page.link.angel %}
        <a class="btn btn-primary btn-md" target="_blank" href="{{ page.link.angel }}" role="button">AngelList</a>
      {% endif %}
      {% if page.link.linkedin %}
        <a class="btn btn-primary btn-md" target="_blank" href="{{ page.link.linkedin }}" role="button">LinkedIn</a>
      {% endif %}
      <a class="btn btn-primary btn-md" href="mailto:info@civicdatalab.in" role="button">Email (info@civicdatalab.in)</a>
    </p>
  </div>
</div>

<div class="container">
  <h2 class="h2">Key Responsibilities</h2>
  <div class="row">
    <ul>
    {% for resp in page.responsibilities %}
      <li>{{ resp | markdownify }}</li>  
    {% endfor %}
    </ul>
  </div>

  <h2 class="h2">Desired Skills</h2>
  <div class="row">
    <ul>
    {% for skill in page.skills %}
      <li>{{ skill | markdownify }}</li>  
    {% endfor %}
    </ul>
  </div>

  <h2 class="h2">Good To Have</h2>
  <div class="row">
    <ul>
    {% for gth in page.good_to_have %}
      <li>{{ gth | markdownify }}</li>  
    {% endfor %}
    </ul>
  </div>


  <h2 class="h2">Perks & Benefits</h2>
  <div class="space-2 space-md-3 my-5">
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
      <h2 class="text-primary">Perks</h2>
    </div>

    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Wellness</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"> 40,000 <small class="text-muted">/ yr</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Gym membership or yoga yherapy</li>
            <li>Learn to play a music instrument</li>
            <li>Photography lessons</li>
            <li>Anything for your well being</li>
          </ul>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Personal Growth & Development</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"> 50,000 <small class="text-muted">/ yr</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Online courses</li>
            <li>Hardware or software licenses</li>
            <li>Summer schools</li>
            <li>Events & conferences</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="space-2 space-md-3 my-5">
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
      <h2 class="text-primary">Practical Assistance</h2>
    </div>

    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Home Office Setup</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"> 25,000 <small class="text-muted">/ yr</small></h1>
          <p>Since you work remotely, we want to make sure your home office is comfortable. You can expense up to INR 25,000 annually to set up your home office. This includes internet services, other tech infrastructure, etc.</p>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Coworking Space Stipend</h4>
        </div>
        <div class="card-body">
          <p>CivicDataLab encourages usage of coworking spaces. Please make sure you're using a true coworking space that's meant solely for working, not a club or social space.</p>
        </div>
      </div>
    </div>
  </div>

  <!--
  <h2 class="h2">How To Apply</h2>
  <div class="row">
    <div class="col">
      <p>Applicants should email <a href="mailto:info@civicdatalab.in">info@civicdatalab.in</a> with their resume and an optional cover letter. Kindly ensure to provide links to your github, linkedin or any personal blog you may have.</p>
    </div>
  </div>

  <h2 class="h2">Our Work</h2>
  <div class="row">
    <div class="col">
      <p>You can check some of our work <a href="/projects">here.</a></p>    
    </div>
  </div>
  -->

  <h2 class="h2">Some of our work</h2>
  <div class="card-deck">
    <!-- <div class="col-sm-6"> -->
      <div class="card">
        <img src="https://cdn-images-1.medium.com/max/400/0*v_3w7qBOCQcBAZ6X" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tracking Flow of Public Funds through Open Data</h5>
          <p class="card-text">Here we walk you through our journey so far with the Open Budgets India initiative, in collaboration with CBGA</p>
          <a target="_blank" href="https://medium.com/civicdatalab/tracking-flow-of-public-funds-through-open-data-1ace0e5b6163" class="btn btn-primary">Read More...</a>
        </div>
      </div>
    <!-- </div> -->
    <!-- <div class="col-sm-6"> -->
      <div class="card">
        <div class="card-body">
          <img src="https://cdn-images-1.medium.com/max/400/0*wltpfVJvhwxWN6Id" class="card-img-top mb-5" alt="...">          
          <h5 class="card-title mt-4">The State of Data in the Judicial Sector</h5>
          <p class="card-text">An attempt to collate all that knowledge and share some insights on the data ecosystem that empowers the legal-tech community in India</p>
          <a target="_blank" href="https://medium.com/civicdatalab/the-state-of-data-in-the-judicial-sector-9a178a143e" class="btn btn-primary">Read More...</a>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
