<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  
  <body id="page-top">
    {% include nav.html %}

    <!-- Header -->
    <header class="masthead d-flex" id="particles-js">
      <div class="container text-center my-auto header-text">
        <h1 class="mb-1 logo">CivicDataLab</h1>
        <h3 class="mb-5 byline">
          Data | Tech | Design | Social Science
        </h3>
        <a class="btn btn-secondary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>About Us</h2>
            <p class="lead mb-5">
              CivicDataLab works with the goal to use data, tech, design and social science to strengthen the course of civic engagements in India. We work to harness the potential of open-source movement to enable citizens to engage better with public reforms. We aim to grow data and tech literacy of governments, nonprofits, think-tanks, media houses, universities etc to enable data-driven decision making at scale. </p>
            <!--<a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Our Offerings</a>-->
          </div>
        </div>
      </div>
    </section>
    
    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Services</h3>
          <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-code-fork"></i>
            </span>
            <h4>
              <strong>Data Strategy</strong>
            </h4>
            <p class="text-faded mb-0">Planning and preparing organizations to do good with data</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-cloud"></i>
            </span>
            <h4>
              <strong>Data Platform</strong>
            </h4>
            <p class="text-faded mb-0">Building scalable platforms for data collection, publishing, stories and more</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-area-chart"></i>
            </span>
            <h4>
              <strong>Data Science</strong>
            </h4>
            <p class="text-faded mb-0">Advancing data to insights for greater impact and sustainability</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Values -->
    <section class="content-section section-team" id="values">
      <div class="container text-center">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">The Humane Side of CivicDataLab</h3>
          <h2 class="mb-5">Our Core Values</h2>
        </div>
        
        <div class="align-items-center text-center">
          <div class="col">
            <p>At Front, we don't just accept difference—we celebrate it, we support it, and we thrive on it for the benefit of our employees, our products, and our community.</p>
            <div class="row text-left">
              <div class="col-sm-6">
                <!-- List -->
                <ul class="list-unstyled mb-0">
                  <li class="py-2">
                    <div class="media">
                      <span class="fa fa-heart mr-3 mt-1"></span>
                        Openness
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="media">
                      <span class="fa fa-heart mr-3 mt-1"></span>
                        Diversity &amp; Inclusivity
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="media">
                      <span class="fa fa-heart mr-3 mt-1"></span>
                        Feedback
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="media">
                      <span class="fa fa-heart mr-3 mt-1"></span>
                        Fun &amp; Engaging
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6">
                <!-- List -->
                <ul class="list-unstyled mb-0">
                  <li class="py-2">
                    <div class="media">
                      <span class="fa fa-heart mr-3 mt-1"></span>
                        Experimentation &amp; Innovation
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="media">
                      <span class="fa fa-heart mr-3 mt-1"></span>
                        Co-creation &amp; Participation
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="media">
                      <span class="fa fa-heart mr-3 mt-1"></span>
                        Empathy &amp; Trust
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <a href="/values" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Know more about our values</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="content-section bg-dark section-team" id="team">
      <div class="container text-center">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">The people who make it happen!</h3>
          <h2 class="mb-5 text-light">The Team</h2>
        </div>
        <div class="row">
          <div class="row my-4 text-center">
          {% for member in site.members %}
            <div class="col-sm-12 col-lg-2 col-md-2 mx-3 px-0 text-center">
              <div class="e-team-picture" style="background-image: url('{{ member.photo }}')"></div>
              <h5 class="h5 text-center">
                <a
                  tabindex="0"
                  class="btn-popover text-light"
                  role="button"
                  data-toggle="popover"
                  data-trigger="focus"
                  data-content="{{ member.content | strip_html }}"
                  data-placement="bottom"
                >
                  {{ member.full_name }}
                </a>
              </h5>
              <ul class="pagination justify-content-center">
                <li class="page-item px-2">
                  <a target="_blank" class="fa fa-github" href="{{ member.github }}"></a>
                </li>
                <li class="page-item px-2">
                  <a target="_blank" class="fa fa-twitter" href="{{ member.twitter }}"></a>
                </li>
                <li class="page-item px-2">
                  <a target="_blank" class="fa fa-linkedin" href="{{ member.linkedin }}"></a>
                </li>
                <!-- <li class="page-item px-2">
                  <a target="_blank" class="fa fa-medium" href="{{ member.medium }}"></a>
                </li> -->
              </ul>
            </div><!-- /.col -->
          {% endfor %}
          </div>

        </div>
      </div>
    </section>

    <!-- Careers -->
    <section class="content-section section-team" id="careers">
      <div class="container text-center">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">We are Hiring!</h3>
          <h2 class="mb-5">Opportunities at CivicDataLab</h2>
        </div>
        <div class="row justify-content-center">
        {% for career in site.careers %}
          {% if site.careers.size == 1 %}
            {% assign col = 6 %}
          {% endif %}
          <div class="card col col-{{ col }} mx-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ career.position }}</h5>
              <p class="card-text">{{ career.brief | markdownify }}</p>
              <a class="btn btn-primary" href="{{ career.url }}" role="button">View Details</a>
              <!-- <a class="btn btn-primary" href="/careers" role="button">Perks & Benefits</a> -->
            </div>
          </div>
        {% endfor %}
        </div>
        <!-- <a class="btn btn-primary btn-xl mt-4" href="/careers" role="button">View All Perks & Benefits</a> -->
      </div>
    </section>

    {% include footer.html %}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    
    {% include scripts.html %}
  </body>
</html>