<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  
  <body id="page-top">
    {% include nav.html %}

    <!-- Header -->
    <header class="masthead d-flex" id="particles-js">
      <div class="container text-center my-auto header-text">
        <h1 class="mb-1 logo">CivicDataLab</h1>
        <h3 class="mb-5 byline">
          Data | Tech | Design | Social Science
        </h3>
        <a class="btn btn-secondary btn-xl js-scroll-trigger" href="/about">Find Out More</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>About Us</h2>
            <p class="lead mb-5">
              CivicDataLab works with the goal to use data, tech, design and social science to strengthen the course of civic engagements in India. We work to harness the potential of open-source movement to enable citizens to engage better with public reforms. We aim to grow data and tech literacy of governments, nonprofits, think-tanks, media houses, universities etc to enable data-driven decision making at scale. </p>
            <!--<a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Our Offerings</a>-->
          </div>
        </div>
      </div>
    </section>
    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Services</h3>
          <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-code-fork"></i>
            </span>
            <h4>
              <strong>Data Strategy</strong>
            </h4>
            <p class="text-faded mb-0">Planning and preparing organizations to do good with data</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-cloud"></i>
            </span>
            <h4>
              <strong>Data Platform</strong>
            </h4>
            <p class="text-faded mb-0">Building scalable platforms for data collection, publishing, stories and more</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-area-chart"></i>
            </span>
            <h4>
              <strong>Data Science</strong>
            </h4>
            <p class="text-faded mb-0">Advancing data to insights for greater impact and sustainability</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Call to Action -->
    <section class="content-section section-team" id="team">
      <div class="container text-center">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">The people who make it happen!</h3>
          <h2 class="mb-5">The Team</h2>
        </div>
        <div class="row">
          <!-- Apoorv -->
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="assets/img/AA.png" alt="Apoorv Anand Profile Pic" style="height: 225px; width: 100%; display: block;" src="assets/img/AA.png" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-name">
                  Apoorv Anand
                </p>
                <p class="card-text">Apoorv works at an intersection of Data science and engineering. He loves, develops and promotes open source software and research. He has been part of the data science teams at Ola and SocialCops and now works to strengthen the data-for-good ecosystem in the country</p>
                <div class="social-icons text-center">
                  <a href="https://github.com/apoorv74" target="_blank" class="fa fa-github"></a>
                  <a href="https://twitter.com/apo_orv" target="_blank" class="fa fa-twitter"></a>
                  <a href="https://www.linkedin.com/in/apoorvanand/" target="_blank" class="fa fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Deepthi -->
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="assets/img/DC.jpg" alt="Deepthi Chand Profile Pic" style="height: 225px; width: 100%; display: block;" src="assets/img/DC.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-name">
                  Deepthi Chand
                </p>
                <p class="card-text">Deepthi Chand aka DC is a data and tech evangelist. He has been instrumental as a chapter leader in defining the working operations of DataKind Bangalore. He has previously worked as a software consultant at Sahaj and Thoughtworks. <br /><br /></p>
                <div class="social-icons text-center">
                  <a href="https://github.com/Deepthi-Chand" class="fa fa-github" target="_blank"></a>
                  <a href="https://twitter.com/eopoxf" class="fa fa-twitter" target="_blank"></a>
                  <a href="https://www.linkedin.com/in/deepthi-chand-alagandula-5415862b/" class="fa fa-linkedin" target="_blank"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Gaurav -->
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="assets/img/GG.jpg" alt="Gaurav Godhwani Profile Pic" style="height: 225px; width: 100%; display: block;" src="assets/img/GG.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-name">
                  Gaurav Godhwani
                </p>
                <p class="card-text">Gaurav works to strengthen data-for-good ecosystem in India, he has been instrumental in starting initiatives like DataKind Bangalore & Open Budgets India. He is passionate about Open Data, Open Source Tech, Education and Human Rights. <br /><br /></p>
                <div class="social-icons text-center">
                  <a href="https://github.com/gggodhwani" target="_blank" class="fa fa-github"></a>
                  <a href="https://twitter.com/gggodhwani" target="_blank" class="fa fa-twitter"></a>
                  <a href="https://in.linkedin.com/in/gggodhwani" target="_blank" class="fa fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Shreya -->
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="assets/img/SA.jpg" alt="Shreya Agarwal Profile Pic" style="height: 225px; width: 100%; display: block;" src="assets/img/SA.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-name">
                  Shreya Agrawal
                </p>
                <p class="card-text">Shreya Agrawal is a data fanatic who loves to scrutanize data as well as answering unanswered questions using visualizations. She also enjoy developing softwares.
                  <br>
                  <br>
                  <br>
                  <br>
                </p>
                <div class="social-icons text-center">
                  <a href="https://github.com/shreyaagrawal0809" target="_blank" class="fa fa-github"></a>
                  <a href="https://twitter.com/shreyabunny123" target="_blank" class="fa fa-twitter"></a>
                  <a href="https://www.linkedin.com/in/shreya-agrawal-080302" target="_blank" class="fa fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Swati -->
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="assets/img/SJ.jpg" alt="Swati Jaiswal Profile Pic" style="height: 225px; width: 100%; display: block;" src="assets/img/SJ.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-name">
                  Swati Jaiswal
                </p>
                <p class="card-text">Swati is an Open Source enthusiast. She is passionate about the social impact of technology and works to add her contribution to the same. She has previously worked with Scrapinghub.
                  <br>
                  <br>
                  <br>
                </p>
                <div class="social-icons text-center">
                  <a href="https://github.com/curioswati" class="fa fa-github" target="_blank"></a>
                  <a href="https://twitter.com/swati12jaiswal" class="fa fa-twitter" target="_blank"></a>
                  <a href="https://www.linkedin.com/in/curioswati/" class="fa fa-linkedin" target="_blank"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Vivek -->
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="assets/img/VS.jpg" alt="Vivek Shrinivasan" style="height: 225px; width: 100%; display: block;" src="assets/img/VS.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-name">
                  Vivek Shrinivasan
                </p>
                <p class="card-text">Vivek works on designing and building web products. He previously worked at Gramener and Informatica where he designed and lead a team to build data products and dashboards for organisations like BMGF and Govt of India. He is passionate about design and its impact on people.</p>
                <div class="social-icons text-center">
                  <a href="https://github.com/kaizer1v" class="fa fa-github" target="_blank"></a>
                  <a href="https://twitter.com/kaizer1v" class="fa fa-twitter" target="_blank"></a>
                  <a href="https://www.linkedin.com/in/vivek-shrinivasan" class="fa fa-linkedin" target="_blank"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    {% include footer.html %}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    
    {% include scripts.html %}
  </body>
</html>