---
layout: page
---

<h1 class="h1">{{ page.title }}</h1>
<p>{{ page.description }}</p>

<h2 class="h2 mt-4">Projects</h2>
<div class="card-deck">
  {% for prj in site.projects %}
    {% if prj.sector == page.title %}
      <div class="card">
        <img src="{{ prj.image }}" class="card-img-top" alt="{{ prj.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ prj.title }}</h5>
          <p class="card-text">{{ prj.background | markdownify }}</p>
          <button type="button" class="btn btn-outline-primary float-right">
            <a href="{{ prj.url }}" class="text-dark">know more...</a>
          </button>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h2 class="h2 mt-4">Case Studies</h2>
<div class="row mt-4">
{% for cs in site.case_studies %}
  {% if cs.sector == page.title %}
    <div class="card col-4">
      <div class="card-body">
        <h5 class="card-title">{{ cs.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">{{ cs.content | markdownify }}</p>
        <a href="{{ cs.url }}" class="card-link text-primary">Know More</a>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>
